div {
  width: 200px;
  height: 200px;
  border: 1px solid red;
}
span {
  color: #ff8000;
}
html {
  width: 100px;
  height: 100px;
}
body {
  width: 100px;
  height: 100px;
  color: greenyellow;
}
body:hover {
  background-color: #1c2f00;
}
